@using CarPark.ViewModels.Vehicles
@model VehicleViewModel

@{
    ViewData["Title"] = $"Vehicle Details - {ViewBag.Enterprise?.Name}";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Vehicle Details - @ViewBag.Enterprise?.Name</h1>
    <div>
        <a asp-action="Index" asp-route-enterpriseId="@ViewBag.Enterprise?.Id" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VinNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VinNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedToEnterpriseAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedToEnterpriseAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-enterpriseId="@ViewBag.Enterprise.Id" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-enterpriseId="@ViewBag.Enterprise.Id" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
</div>