@using CarPark.ViewModels.Enterprises
@model EnterpriseDetailsViewModel

@{
    ViewData["Title"] = "Enterprises";
}

<p>@Html.DisplayNameFor(m => m.Id): @Model.Id</p>
<p>@Html.DisplayNameFor(m => m.Name): @Model.Name</p>
<p>@Html.DisplayNameFor(m => m.LegalAddress): @Model.LegalAddress</p>

<h2>@Html.DisplayNameFor(m => m.Vehicles)</h2>

<p>
    <a asp-controller="Vehicles" asp-action="Create" asp-route-enterpriseId="@Model.Id" class="btn btn-primary">Add New Vehicle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((EnterpriseDetailsViewModel.VehicleViewModel model) => model.Id)
            </th>
            <th>
                @Html.DisplayNameForInnerType((EnterpriseDetailsViewModel.VehicleViewModel model) => model.VinNumber)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (EnterpriseDetailsViewModel.VehicleViewModel vehicle in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => vehicle.Id);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicle.VinNumber);
                </td>
                <td>
                    <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehicle.Id">Details</a>
                    <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a asp-controller="Vehicles" asp-action="Delete" asp-route-id="@vehicle.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>