@model CarPark.Vehicles.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(Model.Model.Id.ToString(), "Details", "Models", new { Id = Model.Model.Id })
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VinNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VinNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
